
		.smallImg{
    width:15%;
    height:100%;
    margin:0 10px;
}
		.VerysmallImgs{
			width:11%;
            height:58%;
            
		}


		.color-o {
			color: #f4682b;
			font-weight: bold;
		}

		.color-p {
			color: #59659a;
			font-weight: bold;
		}

		.bg-p {
			background-color: #59659a;
			color: #ffffff;
			border-radius: 1.25rem;
			text-align: center;
			
		}

		.bg-o {
			background-color: #f4682b
		}

		@media (max-width: 576px) {

			#b1,#b2,#b3 {
				border: 0!important;
			}
		}
